bind 0.0.0.0
port SERVER_PORT
dir "/var/lib/redis/SERVER_NAME"
logfile "/var/log/redis/SERVER_NAME.log"
pidfile "/var/run/redis/SERVER_NAME.pid"
daemonize yes
maxclients 256
tcp-backlog 100
maxmemory 64mb
maxmemory-policy volatile-lru
